<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositori Sortides</title>
</head>
<body>
    <h1>
        Buscar <br/>
    </h1>
    <h2>
        Les sortides que apareixen a continuació coincideixen amb els filtres seleccionats. <br/>
    </h2>
    <h3><br/>
        <font face="Courier New">  <%= capçalera %> </font> <br/> <br/>
        <% for (var i =0; i < text.split(', ').length;  i++ ) { %> 
            <% text_boto = "obrir_sortida"+(numeros_sortides.split(',')[i]).toString() %>
            <form action="/imprimir" method="POST">
                <font face="Courier New">  <%= text.split(", ")[i] %> </font>
                <input type="submit" name="número_sortida" value= <%=text_boto%> >
            </form>
            <% } %>
    </h3>
</body>
</html>
