<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositori Sortides</title>
</head>
<body>
    <h1>
        <%= nom %>
    </h1>
    <h3>
        any de naixement: <%= any_naixement %>
        <br>
        historial: <%= historial %>
    </h3>
</body>
</html>