<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Repositori de sortides de la UEC de Gràcia
    </h1>
    <h2>
        Buscar una sortida
    </h2>
    <h3>
        <form action="/buscar" method="POST">

            <select name="desnivell">
            <option value="desnivell màxim" selected> desnivell màxim</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1100">1100</option>
            <option value="1200">1200</option>
            <option value="1300">1300</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1700">1700</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            </select>

            <select name="distancia">
            <option value="distància màxima" selected> distància màxima</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            </select>

            <select name="tren">
            <option value="no cal tren" selected> no cal tren </option>
            <option value="Sí"> sí que cal tren </option>
            </select>  

            <input type="text" name="lloc_dormir" placeholder="lloc on dormir">

            <button type="submit" class="filter-button"> Filtra </button>  
        </form>
    </h3>
    <h2>
        Imprimir una sortida
    </h2>
    <h3>
        <form action="/imprimir" method="POST">
            <input type="text" name="número_sortida" placeholder="Número de la sortida">
        </form>
    </h3>
    <h2> 
        Crear una sortida
    </h2>
    <h3>
        <form action="/crear" method="POST">
            
            <input type="text" name="nom" placeholder="nom"><br/>

            <select name="desnivell">
            <option value="desnivell màxim" selected> desnivell màxim</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1100">1100</option>
            <option value="1200">1200</option>
            <option value="1300">1300</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1700">1700</option>
            <option value="1800">1800</option>
            <option value="1900">1900</option>
            <option value="2000">2000</option>
            </select>

            <select name="distancia">
            <option value="distància màxima" selected> distància màxima</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            </select>

            <select name="tren">
            <option value="no cal tren" selected> no cal tren </option>
            <option value="Sí"> sí que cal tren </option>
            </select>  

            <input type="text" name="lloc_dormir" placeholder="lloc on dormir">

            <br/> <input type="text" name="descripcio" placeholder="descripcio">

            <button type="submit" class="boto_de_crear"> Crear </button>  
        </form>
    </h3>
    
</body>
</html>